{% extends "#/base.html" %}
{% block content %}
<main role="main" class="container">
  <div class="content-section">
    <form method="post">
<html>
  <head>
    <!-- title that will be displayed on the tab when ran on a web browser -->
    <title>GatorGrouper Viewing Groups</title>
  </head>
  <body>

<!-- Creates team grouping header -->
<div class="container">
  <h2>Team Groupings</h2>
  <div class="list-group">

<!-- The following blocks of HTML code create the heading for each group (team #1, team #2, etc.).
They also create the the lists within the groups that will display each member that has been
assigned to the team. -->

    <href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Team #1</h4>
      <p class="list-group-item-text">Team member name</p>
      <p class="list-group-item-text">Team member name</p>
      <p class="list-group-item-text">Team member name</p>
      <p class="list-group-item-text">Team member name</p>


    <href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Team #2</h4>
      <p class="list-group-item-text">Team member name</p>
      <p class="list-group-item-text">Team member name</p>
      <p class="list-group-item-text">Team member name</p>
      <p class="list-group-item-text">Team member name</p>


    <href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Team #3</h4>
      <p class="list-group-item-text">Team member name</p>
      <p class="list-group-item-text">Team member name</p>
      <p class="list-group-item-text">Team member name</p>
      <p class="list-group-item-text">Team member name</p>


    <href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Team #4</h4>
      <p class="list-group-item-text">Team member name</p>
      <p class="list-group-item-text">Team member name</p>
      <p class="list-group-item-text">Team member name</p>
      <p class="list-group-item-text">Team member name</p>


  </div>
</div>

  </body>
</html>
